@font-face {
    font-family: 'NeueHaasDisplayThin';
    src: url("../assets/NeueHaasDisplayThin.ttf");
}


:root {
    --padding: 10px;
    --light-border: #f2f2f7;
    --light-background: #fafafc;
    --product-item-padding: 15px;
    --standard-font-size: 19px;
    --menu-link-item-color: #636366;
    --standard-font: 'NeueHaasDisplayThin';
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--standard-font);
    font-size: var(--standard-font-size);
    user-select: none;

}

.container {
    padding-right: var(--padding);
    padding-left: var(--padding);
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent !important;
}



@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

header {
    border-bottom: 1px solid var(--light-border);
    padding: 10px 0;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 0;
}
.header-links {
    display: flex;
    align-items: center;
}
.header-navigation.skeleton li a {
    color: transparent !important;
}
.header-navigation li a {
    text-decoration: none;
    color: var(--menu-link-item-color);
}
.header-navigation li a:hover {
    color: black;
}
.header-navigation li:not(:last-child) {
    margin-right: 10px;
}
.header-logo {
    font-weight: bold;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}
.header-logo,
.header-cart-link {
    width: 150px;
}

.header-cart-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: var(--menu-link-item-color);
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header-cart-link span {
    position: relative;
    top: -0.25em;
    font-size: 65%;
}
.header-cart-link svg {
    height: var(--standard-font-size);
    width: auto;
}
main {
    background: var(--light-background);
    min-height: 300px;
}
.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-page h1 {
    margin: 0;
}

.home-page p {
    margin-top: 0.5em;
    text-align: center;
    font-weight: 400;
    font-size: 4em;
    line-height: 1em;
    font-family: var(--standard-font);
}
.catalog-page {
    padding-top: 10px;
}
.product-grid, 
.article-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(min-content, max-content);
}
.product-grid-item,
.article-grid-item {
   background: white; 
   padding: var(--product-item-padding);
}
.product-grid-item img,
.article-grid-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.product-grid-item-title {
    margin-bottom: 5px;
}
.product-grid-prices {
    display: flex;
    grid-gap: 5px;
}
.article-grid-item-title {
    text-decoration: none;
    color: var(--menu-link-item-color);
}
.article-grid-item:hover .article-grid-item-title {
    color: black;
}
.image-container {
    display: block;
}
.article-grid-item .image-container {
    aspect-ratio: 1.5;
}
.product-page {
    display: grid;
    grid-template-columns: minmax(400px,560px) minmax(350px,480px);
    grid-gap: 20px;
}
.product-page-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.product-page-price {
    margin-bottom: 15px;
}
.product-compare-at-price {
    text-decoration: line-through;
    color: var(--menu-link-item-color);
}

.product-option-group {
    margin-bottom: 15px;
}
.product-option-name {
    font-weight: 700;
}
.product-option-value {
    display: inline-block;
}
.product-option-value:not(last-child) {
    margin-right: 10px;
}
.product-option-value input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.product-option-value label {
    display: inline-block;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-bottom: 1px solid transparent;
}
.product-option-value input[type="radio"]:checked + label {
    border-color: black;
}
.product-option-value label:hover {
    border-color: grey;
}
.article-page {
    text-align: center;
}
article img {
    max-width: 100%;
    height: auto;
}
.article-page {
    padding-top: 20px;
}
.article-page-header {
    margin-bottom: 20px;
}
.article-page-header h1 {
    margin-bottom: 5px;
    margin-top: 0;
}
.article-body ul {
    text-align: left;
    padding-left: 15px;
}

/*//////////////////////////////////////HOME PAGE LAYOUT*/



video {
    flex: 1 0 50%;
    max-width: 50%;
    object-fit: cover;
    height: auto;
}

/*////////////////////////////// collection buttons home page*/

.collections-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

  }
  
  .collection-item {
    flex: 1 0 calc(50% - 10px);
    /* flex-grow | flex-shrink | flex-basis */
    height: 600px;
  }

  .collection-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection-content {
    position: relative;
}
  
  .collection-button {
    font-size: 1em;
    position: absolute;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: transparent;
    color: white;
  }
  
  
.collection-content:hover .collection-button {
    opacity: 1;
}
 




/*///////////////////////////////// FOOTER*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 3rem;
    border-top: 1px solid #000;
}


.footer ul {
    list-style: none;
     color: var(--menu-link-item-color);
}

.footer a {
    text-decoration: none;
    color: var(--menu-link-item-color);
}

.footer a:hover {
    color: black;
}

.footer li:not(:last-child) {
    margin-right: 10px;
}

.footer p {
    font-size: 0.5em;
}

.subscription input {
    border: none; /* Remove all borders */
    border-bottom: 1px solid #000; /* Add only the bottom border */
    outline: none; /* Remove focus outline */
    padding: 5px 0; /* Add some padding to give space around the text inside the input field */
    font-size: 0.7em;
}



.subscription input:focus {
    border-bottom-color: var(--menu-link-item-color); /* Change color on focus (or any color you prefer) */
    transition: border-bottom-color 0.3s ease; /* Smooth transition for color change */
}

.subscription button {
border: none;
background-color: transparent;
}

.subscription button img {
    width: 1rem;
    }


  

@media (max-width: 768px) {
    .product-grid, .article-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .product-page {
        display: flex;
        flex-wrap: wrap;
    }
    .line-item-image {
        max-width: 100px;
    }
    .cart-table tr td:first-child {
        max-width: 150px;
    }
    .line-item-variant span {
        display: block;
    }
    .collection-item {
        width: 100%;
      }
    .collections-container > .collection-item {
        flex: 0 0 50%;
      }

      
}

@media (max-width: 640px) {
    .product-grid, .article-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .header-inner {
        flex-direction: column;
    }
    .header-cart-link {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .article-page-header h1 {
        font-size: 24px;
    }
    .article-body p,
    .article-body ul li {
        font-size: 16px;
    }
    .line-item-variant {
        font-size: 50%;
    }
    .collections-container > .collection-item {
        flex: 0 0 100%;
      }
}