.policy-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.left-div {
    flex: 0 0 30%;
    padding: 2rem;
  }
  
  .right-div {
    flex: 0 0 70%;
    padding: 2rem 2rem;
  }